* {
    margin: 0;
    padding: 0;
} 

header{
    background-color: crimson;
    text-align: center; 
    position: fixed;
    width: 210vh;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
header h1 {
    color: white;
    width: 210px;
    height: 40px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
}
.li-item{
    margin: 5px 100px;
    
}
article h2 {
    color: crimson;
    font-size: 40px;
}
article {
    margin: 50px 270px;
}
.main-nav {
    background-color: rgb(226, 226, 226);
}
a {
    text-decoration: none;
    color: gray;
}
.jointoday {
    color: gray;
    text-align: center;
    background-color: rgb(226, 226, 226);
}
.images li {
    width: 400px;
    height: 200px;
    display: flex;
}
footer {
    text-align: center;
    background-color: crimson;
    padding: 20px 0px;
    color: white;
}
.join {
    color: crimson;
}
.banner img {
    height: 100vh;
    width: 210vh;

} 